{% load static %}
{% include "header.html" %}

    <!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="3" data-background={% static "img/slider/5.jpg" %}>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-left caption mt-90">
                    <center><h5>Luxury Hotel</h5></center>
                    <center><h1>Book Now!</h1></center>
                </div>
            </div>
        </div>
    </div><br><br><br><br><br>
 

    <section>
        <center>
            <div class="col-md-9 offset-md-0">
                <div class="booking-box">
                    <div class="head-box">
                        <center><h6>Rooms & Suites</h6></center>
                        <center><h4>Hotel Booking Form</h4></center>
                    </div>
                    <div class="booking-inner clearfix">
                        <form action="{% if room %}{% url 'booking_room' room.id %}{% elif hall %}{% url 'booking_hall' hall.id %}{% endif %}" method="post" class="form1 clearfix">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input1_wrapper">
                                        <label>Customer Name</label>
                                        <div class="input1_inner">
                                            <input type="text" name="customer_name" class="form-control input text" value="{{ user.username }}" readonly>
                                        </div>
                                    </div>
                                </div><hr>
                                <div class="col-md-12">
                                    <div class="input1_wrapper">
                                        <label>Room/Hall Name</label>
                                        <div class="input1_inner">
                                            <input type="text" name="room_hall_name" class="form-control input text" value="{% if room %}{{ room.get_room_type_display }}{% elif hall %}{{ hall.get_hall_type_display }}{% endif %}" readonly>
                                        </div>
                                    </div>
                                </div><hr>
                                <div class="col-md-12">
                                    <div class="input1_wrapper">
                                        <label>Check in</label>
                                        <div class="input1_inner">
                                            <input type="date" name="check_in_date" class="form-control input datepicker" placeholder="Check in" required>
                                        </div>
                                    </div>
                                </div><hr>
                                <div class="col-md-12">
                                    <div class="input1_wrapper">
                                        <label>Check out</label>
                                        <div class="input1_inner">
                                            <input type="date" class="form-control input datepicker hasDatepicker" name="check_out_date" placeholder="Check out" id="dp1725304925103" required>
                                        </div>
                                    </div>
                                </div><hr>
                                <div class="col-md-12">
                                    <div class="select1_wrapper">
                                        <label for="adults">Adults</label>
                                        <div class="input1_inner">
                                            <input type="number" name="adults" id="adults" class="select2 select" style="width: 100%" required placeholder="Enter number of Persons">
                                        </div>
                                    </div>
                                </div>
                               <!-- <div class="col-md-6">
                                    <div class="select1_wrapper">
                                        <label>Children</label>
                                        <div class="select1_inner">
                                            <select name="children" class="select2 select" style="width: 100%">
                                                <option value="0">Children</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>--><br><br><br><br>
                                <div class="col-md-12">
                                    <button type="submit" class="btn-form1-submit mt-15">Book Now</button>
                                </div>
                            </div>
                            <input type="hidden" name="room_id" value="{% if room %}{{ room.id }}{% endif %}">
                            <input type="hidden" name="hall_id" value="{% if hall %}{{ hall.id }}{% endif %}">
                        </form>
                    </div>
                </div>
            </div>
        </center>
    </section>
    <br><br><br><br><br>
{% include "footer.html" %}  