{% load static %}
{% include "header.html" %}
    <!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="3" data-background={% static "img/slider/5.jpg" %}>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-left caption mt-90">
                    <center><h5>Luxury Hotel</h5></center>
                    <center><h1>Book Now!</h1></center>
                </div>
            </div>
        </div>
    </div><br><br><br><br><br>
    <!-- Contact 
    <section class="contact section-padding">
        <div class="container">
            <div class="row mb-90">
                <div class="col-md-6 mb-60">
                    <h3>The Cappa Luxury Hotel</h3>
                    <p>Hotel ut nisl quam nestibulum ac quam nec odio elementum sceisue the aucan ligula. Orci varius natoque penatibus et magnis dis parturient monte nascete ridiculus mus nellentesque habitant morbine.</p>
                    <div class="reservations mb-30">
                        <div class="icon"><span class="flaticon-call"></span></div>
                        <div class="text">
                            <p>Reservation</p> <a href="tel:855-100-4444">855 100 4444</a>
                        </div>
                    </div>
                    <div class="reservations mb-30">
                        <div class="icon"><span class="flaticon-envelope"></span></div>
                        <div class="text">
                            <p>Email Info</p> <a href="mailto:info@luxuryhotel.com">info@luxuryhotel.com</a>
                        </div>
                    </div>
                    <div class="reservations">
                        <div class="icon"><span class="flaticon-location-pin"></span></div>
                        <div class="text">
                            <p>Address</p> 1616 Broadway NY, New York 10001
                            <br>United States of America
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mb-30 offset-md-1">
                    <h3>Get in touch</h3>
                    <form method="post" class="contact__form" action="mail.php">
                        < form message 
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-success contact__msg" style="display: none" role="alert"> Your message was sent successfully. </div>
                            </div>
                        </div>
                        <!- form elements 
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input name="name" type="text" placeholder="Your Name *" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <input name="email" type="email" placeholder="Your Email *" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <input name="phone" type="text" placeholder="Your Number *" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <input name="subject" type="text" placeholder="Subject *" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <textarea name="message" id="message" cols="30" rows="4" placeholder="Message *" required></textarea>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="butn-dark2"><span>Send Message</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
             Map Section 
            <div class="row">
                <div class="col-md-12 map animate-box" data-animate-effect="fadeInUp">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1573147.7480448114!2d-74.84628175962355!3d41.04009641088412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25856139b3d33%3A0xb2739f33610a08ee!2s1616%20Broadway%2C%20New%20York%2C%20NY%2010019%2C%20Amerika%20Birle%C5%9Fik%20Devletleri!5e0!3m2!1str!2str!4v1646760525018!5m2!1str!2str" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </section>-->
    <!-- Reservation & Booking Form -
   <section>
       <center> <div class="col-md-9 offset-md-0">
            <div class="booking-box">
                <div class="head-box">
                    <center><h6>Rooms & Suites</h6></center>
                    <center><h4>Hotel Booking Form</h4></center>
                </div>
                <div class="booking-inner clearfix">
                    <form action="rooms2.html" class="form1 clearfix">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input1_wrapper">
                                    <label>Check in</label>
                                    <div class="input1_inner">
                                        <input type="text" class="form-control input text" placeholder="Room Name">
                                    </div>
                                </div>
                            </div><hr>
                            <div class="col-md-12">
                                <div class="input1_wrapper">
                                    <label>Check in</label>
                                    <div class="input1_inner">
                                        <input type="text" class="form-control input datepicker" placeholder="Check in">
                                    </div>
                                </div>
                            </div><hr>
                            <div class="col-md-12">
                                <div class="input1_wrapper">
                                    <label>Check out</label>
                                    <div class="input1_inner">
                                        <input type="text" class="form-control input datepicker" placeholder="Check out">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="select1_wrapper">
                                    <label>Adults</label>
                                    <div class="select1_inner">
                                        <select class="select2 select" style="width: 100%">
                                            <option value="0">Adults</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="select1_wrapper">
                                    <label>Children</label>
                                    <div class="select1_inner">
                                        <select class="select2 select" style="width: 100%">
                                            <option value="0">Children</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                            </div><br><br><br><br>
                            <div class="col-md-12">
                                <button type="submit" class="btn-form1-submit mt-15">Book Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div></center>
    </section><br><br><br><br><br><br><br><br>-->

    <section>
        <center>
            <div class="col-md-9 offset-md-0">
                <div class="booking-box">
                    <div class="head-box">
                        <center><h6>Rooms & Suites</h6></center>
                        <center><h4>Hotel Booking Form</h4></center>
                    </div>
                    <div class="booking-inner clearfix">
                        <form action="{% if room %}{% url 'booking_room' room.id %}{% elif hall %}{% url 'booking_hall' hall.id %}{% endif %}" method="post" class="form1 clearfix">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input1_wrapper">
                                        <label>Customer Name</label>
                                        <div class="input1_inner">
                                            <input type="text" name="customer_name" class="form-control input text" value="{{ user.username }}" readonly>
                                        </div>
                                    </div>
                                </div><hr>
                                <div class="col-md-12">
                                    <div class="input1_wrapper">
                                        <label>Room/Hall Name</label>
                                        <div class="input1_inner">
                                            <input type="text" name="room_hall_name" class="form-control input text" value="{% if room %}{{ room.get_room_type_display }}{% elif hall %}{{ hall.get_hall_type_display }}{% endif %}" readonly>
                                        </div>
                                    </div>
                                </div><hr>
                                <div class="col-md-12">
                                    <div class="input1_wrapper">
                                        <label>Check in</label>
                                        <div class="input1_inner">
                                            <input type="text" name="check_in_date" class="form-control input datepicker" placeholder="Check in" required>
                                        </div>
                                    </div>
                                </div><hr>
                                <div class="col-md-12">
                                    <div class="input1_wrapper">
                                        <label>Check out</label>
                                        <div class="input1_inner">
                                            <input type="text" class="form-control input datepicker hasDatepicker" name="check_out_date" placeholder="Check out" id="dp1725304925103" required>
                                        </div>
                                    </div>
                                </div><hr>
                                <div class="col-md-12">
                                    <div class="select1_wrapper">
                                        <label for="adults">Adults</label>
                                        <div class="input1_inner">
                                            <input type="number" name="adults" id="adults" class="select2 select" style="width: 100%" required placeholder="Enter number of Persons">
                                        </div>
                                    </div>
                                </div>
                               <!-- <div class="col-md-6">
                                    <div class="select1_wrapper">
                                        <label>Children</label>
                                        <div class="select1_inner">
                                            <select name="children" class="select2 select" style="width: 100%">
                                                <option value="0">Children</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>--><br><br><br><br>
                                <div class="col-md-12">
                                    <button type="submit" class="btn-form1-submit mt-15">Book Now</button>
                                </div>
                            </div>
                            <input type="hidden" name="room_id" value="{% if room %}{{ room.id }}{% endif %}">
                            <input type="hidden" name="hall_id" value="{% if hall %}{{ hall.id }}{% endif %}">
                        </form>
                    </div>
                </div>
            </div>
        </center>
    </section>
    <br><br><br><br><br>
{% include "footer.html" %}  