{% load static %}
    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-column footer-about">
                            <h3 class="footer-title">About Hotel</h3>
                            <p class="footer-about-text">Welcome to the best five-star deluxe hotel in India. Hotel elementum sesue the aucan vestibulum aliquam justo in sapien rutrum volutpat.</p>

                           <!-- <div class="footer-language"> <i class="lni ti-world"></i>
                                <select onchange="location = this.value;">
                                    <option value="http://duruthemes.com/">English</option>
                                    <option value="http://duruthemes.com/">German</option>
                                </select>
                            </div>-->
                        </div>
                    </div>
                    <div class="col-md-3 offset-md-1">
                        <div class="footer-column footer-explore clearfix">
                            <h3 class="footer-title">Explore</h3>
                            <ul class="footer-explore-list list-unstyled">
                                <li><a href="/index/">Home</a></li>
                                <li><a href="/rooms/">Rooms & Suites</a></li>
                                <li><a href="/about/">About Us</a></li>
                                <li><a href="/contact/">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-column footer-contact">
                            <h3 class="footer-title">Contact</h3>
                            <p class="footer-contact-text">1616 Andheri East,Mumbai,Maharashtra<br>India</p>
                            <div class="footer-contact-info">
                                <p class="footer-contact-phone"><span class="flaticon-call"></span> +91 76030 32300</p>
                                <p class="footer-contact-mail">visom6@gmail.com</p>
                            </div>
                            <div class="footer-about-social-list">
                                <a href="#"><i class="ti-instagram"></i></a>
                                <a href="#"><i class="ti-twitter"></i></a>
                                <a href="#"><i class="ti-youtube"></i></a>
                                <a href="#"><i class="ti-facebook"></i></a>
                                <a href="#"><i class="ti-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-bottom-inner">
                            <p class="footer-bottom-copy-right">© Copyright 2024 by <a href="#">visom6.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
 <script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
 <script src="{% static 'js/jquery-migrate-3.0.0.min.js' %}"></script>
 <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
 <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
 <script src="{% static 'js/jquery.isotope.v3.0.2.js' %}"></script>
 <script src="{% static 'js/pace.js' %}"></script>
 <script src="{% static 'js/popper.min.js' %}"></script>
 <script src="{% static 'js/bootstrap.min.js' %}"></script>
 <script src="{% static 'js/scrollIt.min.js' %}"></script>
 <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
 <script src="{% static 'js/owl.carousel.min.js' %}"></script>
 <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
 <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
 <script src="{% static 'js/YouTubePopUp.js' %}"></script>
 <script src="{% static 'js/select2.js' %}"></script>
 <script src="{% static 'js/datepicker.js' %}"></script>
 <script src="{% static 'js/smooth-scroll.min.js' %}"></script>
 <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
